h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Anton', sans-serif;
}

.App {
  position: relative;
  min-height: 100%;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.App-image-container {
  margin: 4rem auto;
  width: 90%;
}

.App-character-card {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 3rem;
}

.game-title {
  margin-top: 1.55rem;
  font-size: 1.8rem;
}

.game-description {
  margin-top: 1.0rem;
  font-family: 'Roboto', sans-serif;  
  font-size: 1.0rem;
}